<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NgHR</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/fullcalendar.min.css" rel="stylesheet" />
  <link href="./assets/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="./assets/css/select2.min.css" type="text/css">
  <link rel="stylesheet" href="./assets/css/bootstrap-datetimepicker.min.css" type="text/css">
  <link rel="stylesheet" href="./assets/plugins/morris/morris.css">
  <link href="./assets/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script><script type="text/javascript" src="vendor.bundle.js"></script><script type="text/javascript" src="main.bundle.js"></script></body>

<script type="text/javascript" src="./assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./assets/js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="./assets/js/select2.min.js"></script>
<script type="text/javascript" src="./assets/js/moment.min.js"></script>
<script type="text/javascript" src="./assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="./assets/plugins/morris/morris.min.js"></script>
<script type="text/javascript" src="./assets/plugins/raphael/raphael-min.js"></script>
<script type="text/javascript" src="./assets/js/app.js"></script>
</html>
